.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Images source.docx
workshop1_intro.html
workshop2_rmarkdwon.html
workshop2_rmarkdwon_files
workshop3_datatype.html
workshop3_visualisation_.html
chocolates.Rmd
workshop4_datatype.html
workshop3_visualisation__files
