.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Images source.docx
workshop1_intro.html
workshop2_rmarkdwon.html
workshop2_rmarkdwon_files
workshop4_datatype.html
workshop3_visualisation.html
workshop3_visualisation_files
README.html
workshop5_datawrangling.html
workshop1_intro.Rmd
workshop3_visualisation_finalized_files
workshop3_visualisation_finalized.html
